@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/cianware.png" class="my-5" style="height: 150px" />
    <h1 class="my-3">Tienda</h1>
    <br />
    <div class="d-flex flex-column justify-content-center align-items-start">
        <h3>INSTRUCCIONES</h3>
        <br />
        <br />
        <h3>Existe una cuenta de Administrador en base de datos, que sirve para subir productos.</h3>
        <br />
        <h3>Email: admin@cianware.com, contrasela: Pa$$w0rd</h3>
        <br />
        <h3>Los usuarios se crean en Registro, y sirven para ver el carrito de compras.</h3>
        <br />
        <h3>Existe una cuenta de usuario en la base de datos</h3>
        <br />
        <h3>Email: user@cianware.com, contrasela: Pa$$w0rd.</h3>
        <br />
        <br />
        <h3>Para subir productos se debe ingresar los datos, y cargar los archivos que están en la carpeta ArchivosParaPruebas en la raíz de la solución. Hay archivos para fotos y modelos 3d. </h3>
    </div>
    
</div>
