@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1 class="m-5">@ViewData["Title"]</h1>

<p class="m-5">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare velit ut vehicula laoreet. Quisque tempor sed erat eu lobortis. Aenean condimentum tortor quis augue suscipit semper. Proin quam elit, posuere eget tincidunt at, suscipit eleifend felis. Donec ac cursus massa. Mauris tristique nulla sed ante commodo, vel mattis magna malesuada. Phasellus risus odio, commodo id rhoncus quis, mattis sed arcu.

    Vivamus magna ex, consectetur vel diam ac, imperdiet lobortis ex. Sed pretium ex orci, vel ultrices tortor rutrum at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc efficitur tortor vitae arcu suscipit ornare eu vitae mi. Praesent facilisis, ligula ac iaculis varius, leo eros ultrices ex, et rhoncus eros massa id lorem. Aliquam cursus sit amet diam eu malesuada. Nulla pretium sem vel nulla scelerisque venenatis.

    Nullam posuere nibh sed mi pharetra, eu commodo odio scelerisque. Curabitur dui tellus, vestibulum ac tortor volutpat, malesuada condimentum libero. Ut lorem leo, tristique sed scelerisque ultrices, ornare vitae urna. Donec venenatis vestibulum est elementum vulputate. Cras et viverra turpis. Proin mollis porta ante at ullamcorper. Fusce eget leo nulla. Mauris dictum quis purus sit amet placerat. Ut porttitor pulvinar leo at vehicula. Aenean ac odio ut ipsum fermentum accumsan non id ante. Duis vitae efficitur libero.

    Fusce nec porta neque. Vivamus laoreet magna felis, sit amet tincidunt justo feugiat sed. Etiam eget porta tortor. Fusce at tincidunt ligula. Morbi scelerisque eu sem ac bibendum. Sed id sem et ligula placerat imperdiet quis id urna. Vivamus blandit enim sapien, sed placerat dolor scelerisque ut. Aliquam vel consectetur leo, quis placerat nibh. Fusce semper est risus, eget imperdiet odio tincidunt sit amet. Donec sollicitudin lacinia orci euismod condimentum.

    Ut et nisi eget nisl tristique cursus. Vestibulum pretium massa eros, sed facilisis erat semper id. Aliquam ultricies ipsum sapien, facilisis aliquet libero sodales nec. Ut at pulvinar turpis, vel convallis augue. Nulla rhoncus fringilla pellentesque. Nullam luctus eros et velit semper commodo. Nunc venenatis interdum ligula nec commodo. Ut ac orci mattis, mattis lacus ac, vulputate lacus. Vivamus laoreet, est sit amet malesuada bibendum, velit turpis rutrum orci, non vehicula eros mauris eu sem. Quisque facilisis, velit condimentum rutrum rhoncus, odio lorem sollicitudin libero, in consectetur lacus velit in eros. In gravida nisi in placerat vulputate. Proin vel interdum massa, eget viverra massa. Vivamus eu aliquam mi. Phasellus hendrerit consequat tortor at tincidunt. Suspendisse vulputate luctus turpis vitae dapibus.
</p>
